.ContainerMain{
    width: 100%;
    height: 1300px;
}

.MainTop{
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

.maintop-img{
    object-fit: cover;
    width: 250px;
    height: 300px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
    border-radius: 5px ;
}
.maintop-img2{
    object-fit: cover;
    width: 350px;
    height: 400px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
    border-radius: 5px ;
}
.main-middle-container{
    width: 100%;
    background: #FFE9D4;
}
.main-middle{
    width: 800px;
    margin: 0 auto;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.85);
    padding: 0 16px;
    max-width: 764px;
    margin: 6px auto 12px;
    background: #FFE9D4;
}
.main-middle-ul{
   list-style-type: none;
}

.maintop-tea{
    width: 1200px;
    margin: 0 auto;
}
.img-header img{
    object-fit: cover;
    width: 100%;
    height: 400px;
    position: absolute;
}